body {
  font-family: Lato;
}
p {
  font-size: 12px;
  text-align: justify;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 5px;
  font-size: 12px;
}

ul {
  margin-bottom: 1rem;
  font-size: 12px;
}
ol {
  margin-bottom: 1rem;
  font-size: 12px;
}

h1 {
  color: #6084ae;
  font-size: 48px;
  font-weight: 300;
  font-family: "Lato";
  text-align: left;
  margin-bottom: 1rem;
}

h2 {
  color: #a68784;
  letter-spacing: 1px;
  font-family: "Lato";
  text-align: left;
  margin-bottom: 1rem;
  font-size: 24px;
}

h3 {
  color: #a68784;
  letter-spacing: 1px;
  font-family: "Lato";
  text-align: left;
  margin-bottom: 1rem;
  font-size: 18px;
}

h4 {
  color: #a68784;
  letter-spacing: 1px;
  font-family: "Lato";
  text-align: left;
  margin-bottom: 1rem;
  font-size: 16px;
}

h5 {
  color: #a68784;
  letter-spacing: 1px;
  font-family: "Lato";
  text-align: left;
  margin-bottom: 1rem;
  font-size: 14px;
}

.title-big {
  font-size: 100pt;
  font-weight: 900;
}
.title-medium {
  font-size: 30pt;
  border-bottom: solid 1px #253548;
  font-weight: 700;
}
.title-medium::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  border-top: 4px solid #253548;
}
.title-big {
  color: #253548;
  font-family: "Lato", sans-serif;
}
.title-medium {
  color: #253548;
  font-family: "Lato", sans-serif;
}
.company-footer {
  border-top: 1px solid #eee;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.85rem;
}
.company-footer .logo-holder {
  float: left;
  text-align: left;
  width: 40px;
  padding-top: 3px;
}
.company-footer .company-logo {
}
.company-footer .project-slogan {
  float: left;
  text-align: left;
  width: 60%;
}
.company-footer .page-counter {
  float: right;
  text-align: right;
  width: 100px;
}

.clrBoth {
  clear: both;
}

.strona-okladka {
  background: #19507f !important;
  color: #fff;
  font-size: 2rem;
}

.strona-okladka h1 {
  color: #fff !important;
  font-size: 4rem;
}

.company-logo {
  width: 0.2916667in;
  height: 0.1145833in;

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAsCAYAAAC9rDzHAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAA7DQAAOw0BYQ+A7gAABOZJREFUeF7tnD+IJEUUxjcwEFQQ1mWvq76aNjAwMBAxENxABMFENFAQow0EDQwMDC7zUNBAUPAEA8E/gYiCiCgGKp5gIKhwBhqdeIGgyCIiGxhcoLydmb2Z773pedXTNT132x/8ku169d7Wt697urt2tmKM9yyjrutTWz2I6/CS0qk763r35p2dnet5zhIKIdzONTi5S+qsquomntOtlOJ/ywn7HLcO6TraAcSLQHxLfo8YIzjPqkopnOOcbQDCHynF91IKTwK4hfOY4kls+jEQCH/rWlYDCL+nFF+LMd7L+dqqKwNnAeI/QHw7pepBzjcnDrTpx0BdR6dcSimerev6Ws6bqxIGzgLETxaeZnmwzVVp4JTz7tPVApU2cEz4Ta6ZnNu5SP0YWOIUahO+kw8VnN+r9Rh4dPr/ZTSKj1ByPVBztRsohM8A3MY1eLQuAwUg/pBSdd9Mcj1IcxIMPOJVrsGjdRooAPHj7e3tGybJ9QDNSTEw/AXgfq5jmdZt4IQnJsnVAYN+DNR1aIDwIt8gj0bx4ZTi6ZTCG5N7KxXXwEdcxzJ5DJT7UK4TqB4CwjNAfD2lcIFjmgkXJsn5gMXmGrisNrlNSCk+nVI80LEaIPyb+wTHY2CM1RmOI10jv0uOkUefSvmHNs2LVEq+U6ivtpTCA0D8VcdrADzG8U3yGAiEVzjO0mhU3QHEbzjeAgjPbrSBug4Lf23yiErHm5zl2CZ5DHR04LFSqvYmDxrUPLMA8YvOF6lLddmBot3d3evkhljPMQ8Q3+fYJnkM9HbgVED8nOdggPDTiTJQBMQv9RxM+JrjmlTCQDkL8BwGBxttoK7DIq+28VsJnmMeeXvBcU3yGJhzChUB1VM8h0WRRepKhTrwAz0HE77iuCZ5DGzRgc/xHAZ/nkQDf9ZzMOFdjmtSGQPDhzyHJvy40QbqOiz8tcl9k443eYljm+QxMOcUKq+OUoqHPIcmnOt8kbpUlx0or4w8n+xy5pzKY6C3AycPHt7keAsgvLDRBuo6LJbXJtso5KWojtX0+CRmS/JK93PsYqq9zhaphHQdFnZtdV3fKJubUorPiyk6biFFnoUuMlA6Tl5jAXg887ntwdEExgEDe5FKS9dhcbm2yeali5kLQVR781UsV66BsnFpWiuPy+D0dDI+YNCPgbnXQN/4RrIeoU3lMXD2GihdzsdzAMKnx1s9+aBNPwbqOiwu16aP+ZGuXbhxaIk8Bs534PLxDRzKpWEmuRpg0I+Bvo7qogPDt21e5E7lMaSLDhyfcskLHmTTj4G6DovVOlAWpa6rW+cz58lj4KodOP7jNK7PPNCmHwN9HdW6Aw+B8PKq5ok8hqzSgUB4ZzSq7p7POhEPtunHQF2HRXYHXhrfExp/zS3lMbBNBwLxeyA8Op+NxEE2V7yBh7Josoh9/W+E00B5iXteunXug0qTjEkMrgwDxwZVZ8Z7YMK+fDBpu9czRw2GHEMG7k/qlI1X+7K5afwfVS22+XMim34M9F3T+qltVh4Dvc9Cs8WJbPpZpMFAhziRTT+LNBjoECeysDbPtiH3I/tgoEOcqDBZT/oHAx3iRIUZDOxanKgwg4FdixMVZjCwa3GiwgwGdi1OVJjBwK7FiQozGNi1OFFhBgO7Ft9slyT3Rp7jLfr6GrBZeb5qS75Si+O60P9CrUBPvgnCawAAAABJRU5ErkJggg==);
  display: block;
  background-size: 100% 100%;
}

table {
  background-color: white !important;
  border-bottom: 1px solid #a68784 !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  font-size: 12px !important;
  margin-bottom: 1rem;
}

table thead {
  border-color: white !important;
}

table thead tr {
  border-color: white !important;
  font-size: 12px !important;
}

table thead tr td {
  background-color: #a68784 !important;
  color: white !important;
  text-align: center;
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid #a68784 !important;
  border-right: 2px solid white !important;
  font-size: 12px !important;
}

table thead tr td:first-child {
  background-color: white !important;
  color: #a68784 !important;
  border-bottom: 1px solid #a68784 !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid #a68784 !important;
  text-align: left;
}

table tbody tr td {
  color: black !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
  font-size: 12px !important;
}

table tbody tr:last-child td {
  border-bottom: 1px solid #a68784 !important;
}

.table-wrapper-3-411 table thead tr td:first-child {
  width: 45% !important;
}
.table-wrapper-3-411 table thead tr td:nth-child(2) {
  width: 16.66% !important;
}
.table-wrapper-3-411 table thead tr td:nth-child(3) {
  width: 16.66% !important;
}

.table-50percent-c {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}

.table-from-word {
  background-color: white !important;
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.table-from-word tbody tr td:first-child {
  border-color: white !important;
}

.table-from-word tbody tr:first-child td {
  background-color: #a68784 !important;
  color: white !important;
  text-align: center;
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid #a68784 !important;
  border-right: 2px solid white !important;
}

.table-from-word tbody tr:first-child td:first-child {
  background-color: white !important;
  color: #a68784 !important;
  border-bottom: 1px solid #a68784 !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid #a68784 !important;
  text-align: left;
}

.table-from-word tbody tr td {
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
}
