/* ========================================
   GLOBALNE
======================================== */

.ble-editor body {
  font-family: Lato;
}

/* ========================================
   GLOBALNE TEKSTY
======================================== */

.ble-editor h1,
.ble-editor h2,
.ble-editor h3,
.ble-editor h4,
.ble-editor h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.ble-editor h2,
.ble-editor h3,
.ble-editor h4,
.ble-editor h5 {
  color: #a68784;
  letter-spacing: 1px;
}

.ble-editor h1 {
  color: #6084ae;
  font-size: 20pt;
}

.ble-editor h2 {
  font-size: 14pt;
}

.ble-editor h3 {
  font-size: 13pt;
}

.ble-editor h4 {
  font-size: 12pt;
}

.ble-editor h5 {
  font-size: 10pt;
}

.ble-editor p {
  justify-self: justify !important;
  font-family: "Lato";
  font-size: 10.5pt;
}

.ble-editor p.e-p > * {
  text-align: justify;
}

/* ========================================
   WŁASNE TEKSTY
======================================== */

.title-big,
.title-medium {
  color: #253548;
  font-family: "Lato", sans-serif;
}

.title-big {
  font-size: 100pt;
  font-weight: 900;
}

.title-medium {
  font-size: 30pt;
  border-bottom: solid 1px #253548;
  font-weight: 700;
}

.title-medium::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  border-top: 4px solid #253548;
}

/* ========================================
   GLOBALNE LISTY
======================================== */

li {
  margin-bottom: 5px;
  font-size: 10.5pt;
  font-family: "Lato";
}
ul {
  margin-bottom: 1rem;
  font-size: 10.5pt;
  font-family: "Lato";
}
ol {
  margin-bottom: 1rem;
  font-size: 10.5pt;
  font-family: "Lato";
}

c-e {
  color: red;
}

/* ========================================
   STRONA TYTUŁOWA
======================================== */

.strona-okladka {
  background: #19507f;
  color: #fff;
  font-size: 2rem;
}

.strona-okladka h1 {
  color: #fff;
  font-size: 4rem;
}

.company-logo {
  width: 0.2916667in;
  height: 0.1145833in;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAsCAYAAAC9rDzHAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAA7DQAAOw0BYQ+A7gAABOZJREFUeF7tnD+IJEUUxjcwEFQQ1mWvq76aNjAwMBAxENxABMFENFAQow0EDQwMDC7zUNBAUPAEA8E/gYiCiCgGKp5gIKhwBhqdeIGgyCIiGxhcoLydmb2Z773pedXTNT132x/8ku169d7Wt697urt2tmKM9yyjrutTWz2I6/CS0qk763r35p2dnet5zhIKIdzONTi5S+qsquomntOtlOJ/ywn7HLcO6TraAcSLQHxLfo8YIzjPqkopnOOcbQDCHynF91IKTwK4hfOY4kls+jEQCH/rWlYDCL+nFF+LMd7L+dqqKwNnAeI/QHw7pepBzjcnDrTpx0BdR6dcSimerev6Ws6bqxIGzgLETxaeZnmwzVVp4JTz7tPVApU2cEz4Ta6ZnNu5SP0YWOIUahO+kw8VnN+r9Rh4dPr/ZTSKj1ByPVBztRsohM8A3MY1eLQuAwUg/pBSdd9Mcj1IcxIMPOJVrsGjdRooAPHj7e3tGybJ9QDNSTEw/AXgfq5jmdZt4IQnJsnVAYN+DNR1aIDwIt8gj0bx4ZTi6ZTCG5N7KxXXwEdcxzJ5DJT7UK4TqB4CwjNAfD2lcIFjmgkXJsn5gMXmGrisNrlNSCk+nVI80LEaIPyb+wTHY2CM1RmOI10jv0uOkUefSvmHNs2LVEq+U6ivtpTCA0D8VcdrADzG8U3yGAiEVzjO0mhU3QHEbzjeAgjPbrSBug4Lf23yiErHm5zl2CZ5DHR04LFSqvYmDxrUPLMA8YvOF6lLddmBot3d3evkhljPMQ8Q3+fYJnkM9HbgVED8nOdggPDTiTJQBMQv9RxM+JrjmlTCQDkL8BwGBxttoK7DIq+28VsJnmMeeXvBcU3yGJhzChUB1VM8h0WRRepKhTrwAz0HE77iuCZ5DGzRgc/xHAZ/nkQDf9ZzMOFdjmtSGQPDhzyHJvy40QbqOiz8tcl9k443eYljm+QxMOcUKq+OUoqHPIcmnOt8kbpUlx0or4w8n+xy5pzKY6C3AycPHt7keAsgvLDRBuo6LJbXJtso5KWojtX0+CRmS/JK93PsYqq9zhaphHQdFnZtdV3fKJubUorPiyk6biFFnoUuMlA6Tl5jAXg887ntwdEExgEDe5FKS9dhcbm2yeali5kLQVR781UsV66BsnFpWiuPy+D0dDI+YNCPgbnXQN/4RrIeoU3lMXD2GihdzsdzAMKnx1s9+aBNPwbqOiwu16aP+ZGuXbhxaIk8Bs534PLxDRzKpWEmuRpg0I+Bvo7qogPDt21e5E7lMaSLDhyfcskLHmTTj4G6DovVOlAWpa6rW+cz58lj4KodOP7jNK7PPNCmHwN9HdW6Aw+B8PKq5ok8hqzSgUB4ZzSq7p7POhEPtunHQF2HRXYHXhrfExp/zS3lMbBNBwLxeyA8Op+NxEE2V7yBh7Josoh9/W+E00B5iXteunXug0qTjEkMrgwDxwZVZ8Z7YMK+fDBpu9czRw2GHEMG7k/qlI1X+7K5afwfVS22+XMim34M9F3T+qltVh4Dvc9Cs8WJbPpZpMFAhziRTT+LNBjoECeysDbPtiH3I/tgoEOcqDBZT/oHAx3iRIUZDOxanKgwg4FdixMVZjCwa3GiwgwGdi1OVJjBwK7FiQozGNi1OFFhBgO7Ft9slyT3Rp7jLfr6GrBZeb5qS75Si+O60P9CrUBPvgnCawAAAABJRU5ErkJggg==);
  display: block;
  background-size: 100% 100%;
}

/* ========================================
   STOPKA
======================================== */

.company-footer {
  border-top: 1px solid #eee;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.85rem;
}

.company-footer .logo-holder {
  float: left;
  text-align: left;
  width: 40px;
  padding-top: 3px;
}

.company-footer .project-slogan {
  float: left;
  text-align: left;
  width: 60%;
}

.company-footer .page-counter {
  float: right;
  text-align: right;
  width: 100px;
}

.clrBoth {
  clear: both;
}

/* ========================================
   GLOBALNE TABELE
======================================== */

table {
  background-color: white !important;
  border-bottom: 1px solid #a68784 !important;
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}

table thead {
  border-color: transparent !important;
}

table thead tr {
  border-color: transparent !important;
}

table thead tr td {
  background-color: #a68784 !important;
  font-size: 10.5pt;
  color: white !important;
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid #a68784 !important;
  border-right: 2px solid white !important;
}

table thead tr td:first-child {
  background-color: white !important;
  color: #a68784 !important;
  border-bottom: 1px solid #a68784 !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid #a68784 !important;
  text-align: left;
}

table tbody tr td {
  font-size: 10.5pt;
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

/* ========================================
   TABELE WYRÓWNANIE TEKSTU
======================================== */

.col-align-1r tbody td:first-child {
  text-align: right !important;
}
.col-align-2r tbody td:nth-child(2) {
  text-align: right !important;
}
.col-align-3r tbody td:nth-child(3) {
  text-align: right !important;
}
.col-align-4r tbody td:nth-child(4) {
  text-align: right !important;
}
.col-align-5r tbody td:nth-child(5) {
  text-align: right !important;
}

.col-align-1l tbody td:first-child {
  text-align: left !important;
}
.col-align-2l tbody td:nth-child(2) {
  text-align: left !important;
}
.col-align-3l tbody td:nth-child(3) {
  text-align: left !important;
}
.col-align-4l tbody td:nth-child(4) {
  text-align: left !important;
}
.col-align-5l tbody td:nth-child(5) {
  text-align: left !important;
}

.col-align-1c tbody td:first-child {
  text-align: center !important;
}
.col-align-2c tbody td:nth-child(2) {
  text-align: center !important;
}
.col-align-3c tbody td:nth-child(3) {
  text-align: center !important;
}
.col-align-4c tbody td:nth-child(4) {
  text-align: center !important;
}
.col-align-5c tbody td:nth-child(5) {
  text-align: center !important;
}

.col-align-1j tbody td:first-child {
  text-align: justify !important;
}
.col-align-2j tbody td:nth-child(2) {
  text-align: justify !important;
}
.col-align-3j tbody td:nth-child(3) {
  text-align: justify !important;
}
.col-align-4j tbody td:nth-child(4) {
  text-align: justify !important;
}
.col-align-5j tbody td:nth-child(5) {
  text-align: justify !important;
}

/* ========================================
   TABELE SZEROKOŚĆ KOLUMN
======================================== */

.table-wrapper-2-41 td {
  width: 50%;
}
.table-wrapper-2-41 td:first-child {
  width: 80%;
}
.table-wrapper-2-41 td:nth-child(2) {
  width: 20%;
}

.table-wrapper-2-31 td {
  width: 50%;
}
.table-wrapper-2-31 td:first-child {
  width: 75%;
}
.table-wrapper-2-31 td:last-child {
  width: 25%;
}

.table-wrapper-3-411 td {
  width: 33%;
}
.table-wrapper-3-411 td:first-child {
  width: 66%;
}
.table-wrapper-3-411 td:nth-child(2) {
  width: 16%;
}
.table-wrapper-3-411 td:nth-child(3) {
  width: 16%;
}

.table-wrapper-3-322 td {
  width: 33%;
}
.table-wrapper-3-322 td:first-child {
  width: 42%;
}
.table-wrapper-3-322 td:nth-child(2) {
  width: 28%;
}
.table-wrapper-3-322 td:nth-child(3) {
  width: 28%;
}

.table-wrapper-3-211-shrink-2 td {
  width: 33%;
}
.table-wrapper-3-211-shrink-2 td:first-child {
  width: 50%;
}
.table-wrapper-3-211-shrink-2 td:nth-child(2) {
  width: 25%;
}
.table-wrapper-3-211-shrink-2 td:nth-child(3) {
  width: 25%;
}

.table-wrapper-4-3111 td {
  width: 25%;
}
.table-wrapper-4-3111 td:first-child {
  width: 50%;
}
.table-wrapper-4-3111 td:nth-child(2) {
  width: 16%;
}
.table-wrapper-4-3111 td:nth-child(3) {
  width: 16%;
}
.table-wrapper-4-3111 td:nth-child(4) {
  width: 16%;
}

.table-wrapper-4-3222 td {
  width: 25%;
}
.table-wrapper-4-3222 td:first-child {
  width: 33%;
}
.table-wrapper-4-3222 td:nth-child(2) {
  width: 22%;
}
.table-wrapper-4-3222 td:nth-child(3) {
  width: 22%;
}
.table-wrapper-4-3222 td:nth-child(4) {
  width: 22%;
}

.table-wrapper-4-2111 td {
  width: 25%;
}
.table-wrapper-4-2111 td:first-child {
  width: 40%;
}
.table-wrapper-4-2111 td:nth-child(2) {
  width: 20%;
}
.table-wrapper-4-2111 td:nth-child(3) {
  width: 20%;
}
.table-wrapper-4-2111 td:nth-child(4) {
  width: 20%;
}

.table-wrapper-4-4122 td {
  width: 25%;
}
.table-wrapper-4-4122 td:first-child {
  width: 44%;
}
.table-wrapper-4-4122 td:nth-child(2) {
  width: 11%;
}
.table-wrapper-4-4122 td:nth-child(3) {
  width: 22%;
}
.table-wrapper-4-4122 td:nth-child(4) {
  width: 22%;
}

.table-wrapper-4-1333 td {
  width: 25%;
}
.table-wrapper-4-1333 td:first-child {
  width: 10%;
}
.table-wrapper-4-1333 td:nth-child(2) {
  width: 30%;
}
.table-wrapper-4-1333 td:nth-child(3) {
  width: 30%;
}
.table-wrapper-4-1333 td:nth-child(4) {
  width: 30%;
}

.table-wrapper-5-32222 td {
  width: 20%;
}
.table-wrapper-5-32222 td:first-child {
  width: 28%;
}
.table-wrapper-5-32222 td:nth-child(2) {
  width: 18%;
}
.table-wrapper-5-32222 td:nth-child(3) {
  width: 18%;
}
.table-wrapper-5-32222 td:nth-child(4) {
  width: 18%;
}
.table-wrapper-5-32222 td:nth-child(5) {
  width: 18%;
}

.table-wrapper-5-32222-break-line td {
  width: 20%;
}
.table-wrapper-5-32222-break-line td:first-child {
  width: 48%;
}
.table-wrapper-5-32222-break-line td:nth-child(2) {
  width: 13%;
}
.table-wrapper-5-32222-break-line td:nth-child(3) {
  width: 13%;
}
.table-wrapper-5-32222-break-line td:nth-child(4) {
  width: 13%;
}
.table-wrapper-5-32222-break-line td:nth-child(5) {
  width: 13%;
}

.table-wrapper-5-11111 td:first-child {
  width: 20%;
}
.table-wrapper-5-11111 td:nth-child(2) {
  width: 20%;
}
.table-wrapper-5-11111 td:nth-child(3) {
  width: 20%;
}
.table-wrapper-5-11111 td:nth-child(4) {
  width: 20%;
}
.table-wrapper-5-11111 td:nth-child(5) {
  width: 20%;
}

.table-wrapper-6-322222 td {
  width: 16%;
}
.table-wrapper-6-322222 td:first-child {
  width: 23%;
}
.table-wrapper-6-322222 td:nth-child(2) {
  width: 15%;
}
.table-wrapper-6-322222 td:nth-child(3) {
  width: 15%;
}
.table-wrapper-6-322222 td:nth-child(4) {
  width: 15%;
}
.table-wrapper-6-322222 td:nth-child(5) {
  width: 15%;
}
.table-wrapper-6-322222 td:nth-child(6) {
  width: 15%;
}

.table-wrapper-6-612222 td {
  width: 16%;
}
.table-wrapper-6-612222 td:first-child {
  width: 40%;
}
.table-wrapper-6-612222 td:nth-child(2) {
  width: 7%;
}
.table-wrapper-6-612222 td:nth-child(3) {
  width: 13%;
}
.table-wrapper-6-612222 td:nth-child(4) {
  width: 13%;
}
.table-wrapper-6-612222 td:nth-child(5) {
  width: 13%;
}
.table-wrapper-6-612222 td:nth-child(6) {
  width: 13%;
}

.table-wrapper-6-111111 td {
  width: 16%;
}
.table-wrapper-6-111111 td:first-child {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(2) {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(3) {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(4) {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(5) {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(6) {
  width: 16.6%;
}

.table-wrapper-6-322211 td {
  width: 16%;
}
.table-wrapper-6-322211 td:first-child {
  width: 27%;
}
.table-wrapper-6-322211 td:nth-child(2) {
  width: 18%;
}
.table-wrapper-6-322211 td:nth-child(3) {
  width: 18%;
}
.table-wrapper-6-322211 td:nth-child(4) {
  width: 18%;
}
.table-wrapper-6-322211 td:nth-child(5) {
  width: 9%;
}
.table-wrapper-6-322211 td:nth-child(6) {
  width: 9%;
}

.table-wrapper-7-2111111 td {
  width: 14%;
}
.table-wrapper-7-2111111 td:first-child {
  width: 28%;
}
.table-wrapper-7-2111111 td:nth-child(2) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(3) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(4) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(5) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(6) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(7) {
  width: 12%;
}

.table-wrapper-7-3222222 td {
  width: 14%;
}
.table-wrapper-7-3222222 td:first-child {
  width: 22%;
}
.table-wrapper-7-3222222 td:nth-child(2) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(3) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(4) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(5) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(6) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(7) {
  width: 13%;
}

.table-wrapper-9-411111111 td {
  width: 11%;
}
.table-wrapper-9-411111111 td:first-child {
  width: 34%;
}
.table-wrapper-9-411111111 td:nth-child(2) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(3) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(4) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(5) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(6) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(7) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(8) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(9) {
  width: 8%;
}

/* ========================================
   WŁASNE TABELE - bez nagłówka
======================================== */

.table-from-word-new {
  background-color: white !important;
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.table-from-word-new table {
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.table-from-word-new tbody tr td:first-child {
  border-color: white !important;
}

.table-from-word-new tbody tr:first-child td {
  font-size: 10.5pt;
  background-color: #a68784 !important;
  color: white !important;
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid #a68784 !important;
  border-right: 2px solid #a68784 !important;
}

.table-from-word-new tbody tr:not(:first-child) td {
  font-size: 10.5pt;
  border: 1px solid white !important;
}

.table-from-word-new tbody tr:last-child td {
  border-bottom: 1px solid #a68784 !important;
}

.currancy-rate-table-from-word {
  border-bottom: 1px solid white !important;
}

.currancy-rate-table-from-word tbody tr:nth-child(even) td {
  border-bottom: 2px solid white !important;
}

.currancy-rate-table-from-word tbody tr td {
  font-size: 10.5pt;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  height: 22px !important;
}

.table-from-word-no-head {
  background-color: white !important;
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.table-from-word-no-head table {
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.table-from-word-no-head tbody tr td:first-child {
  border-color: white !important;
}

.table-from-word-no-head tbody tr td {
  font-size: 10.5pt;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
}

.table-from-word-no-head tbody tr td:first-child {
  font-size: 10.5pt;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
}

.table-from-word-no-head tbody tr td:last-child {
  font-size: 10.5pt;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
}

.table-from-word-no-head tbody tr:last-child td {
  border-bottom: 1px solid #a68784 !important;
}
