/* ========================================
   ----- DOCX -----
======================================== */

/* ========================================
   GLOBALNE
======================================== */

/* ========================================
   GLOBALNE TEKSTY
======================================== */

/* ========================================
   WŁASNE TEKSTY
======================================== */

/* ========================================
   GLOBALNE LISTY
======================================== */

/* ========================================
   WŁASNE LISTY
======================================== */

/* ========================================
   STRONA TYTUŁOWA
======================================== */

/* ========================================
   SPIS TREŚCI
======================================== */

/* ========================================
   NAGŁÓWEK
======================================== */

/* ========================================
   STOPKA
======================================== */

/* ========================================
   GLOBALNE TABELE
======================================== */

/* ========================================
   TABELE WYRÓWNANIE TEKSTU
======================================== */

/* ========================================
   TABELE SZEROKOŚĆ KOLUMN
======================================== */

/* ========================================
   WŁASNE TABELE - z nagłówkiem
======================================== */

/* ========================================
   WŁASNE TABELE - bez nagłówka
======================================== */

/* ========================================
   WŁASNE TABELE - pojedyńcze reguły
======================================== */

.hide-e14 .div-table-th-bd .tr-dr:nth-child(4) {
  display: none !important;
}

.rozdzial-w-raporcie .div-table-dr-th [class*="col3-dr"] {
  color: transparent;
  position: relative;
}
.rozdzial-w-raporcie .div-table-dr-th [class*="col3-dr"]::before {
  content: "Rozdział i strona w raporcie";
  color: #333;
  font-weight: bold;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

/* ========================================
   SPECJALNE DOCX
======================================== */
