/* ========================================
   GLOBALNE
======================================== */

/* ========================================
   GLOBALNE TEKSTY
======================================== */

h1 {
  font-family: "Switzer", sans-serif;
  color: #29265c;
  font-size: 30pt;
}

h2 {
  font-family: "Switzer", sans-serif;
  font-size: 28pt !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #4dae3e !important;
  text-decoration: none !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  line-height: normal !important;
  word-spacing: 4px !important;
}

h3 {
  font-family: "Switzer", sans-serif;
  color: #29265c;
  font-size: 16pt;
}

h6 {
  font-family: "Kuba Reczny", cursive;
  line-height: 1.12;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-size: 35pt;
}

p {
  font-family: "Switzer", sans-serif;
}

/* ========================================
   WŁASNE TEKSTY
======================================== */

/* ========================================
   STRONA TYTUŁOWA
======================================== */

.title-page-background-image {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.title-page-background-image-with-trick {
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.title-page-background-image-with-trick::before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
}

.title-page-background-image-with-trick__less {
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.title-page-background-image-with-trick__less::before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
}

/* ========================================
   NAGŁÓWEK
======================================== */

.top-bar {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
  box-sizing: border-box;
}

.top-bar img {
  margin-right: auto;
}

.topbar-text {
  color: black;
  font-size: 6pt;
  text-align: left;
}

/* ========================================
   STOPKA
======================================== */

.footer {
  display: flex;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: right;
}

.footer-text {
  color: black;
  float: right;
  font-size: 9pt;
  text-align: right;
}

/* ========================================
   OBRAZY
======================================== */

.obraz-1::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/58b1efa432884644a66959642f6d296d/thumbnail.png");
}

.obraz-2::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/e2f35d98a3c3452d8a29c76077fc9fb3/thumbnail.png");
}

.obraz-3::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/3b0c01762570473d907e21c1999c5030/thumbnail.png");
}

.obraz-4::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/31f8c07258d145378cda6a9331dae66b/thumbnail.png");
}

.obraz-5::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/03b9f59c556d44c08df85ff5248ff628/thumbnail.png");
}

.obraz-6::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/2d42fb1e87a841dea3088884b7130a14/thumbnail.png");
}

.obraz-7::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/8a858b0bbaf149ca8995b5490120137a/thumbnail.png");
}

.obraz-8::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/b0d4fa5a76524f2d9d32e3e852c6bc40/thumbnail.png");
}

.obraz-9::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/5017e1489073429f8321d0236887a6b1/thumbnail.png");
}

.obraz-10::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/5917fe36ff8a4a119b2ddd8bb8ece309/thumbnail.png");
}

.obraz-11::before {
  background-image: url("https://esg-dekpol-uat.consolia.pl/dms/media/ec555f57036948b3a9b7eed075d1d8c5/thumbnail.png");
}

/* ========================================
   ----- KUBA RĘCZNY -----
======================================== */

h2.kuba-reczny-green-h2 {
  font-family: "Kuba Reczny", cursive;
  color: #4dae3e !important;
  font-weight: 400 !important;
  font-size: 32pt !important;
}

h2.kuba-reczny-red-h2 {
  font-family: "Kuba Reczny", cursive;
  color: red !important;
  font-weight: 400 !important;
  font-size: 32pt !important;
}

h2.kuba-reczny-blue-h2 {
  font-family: "Kuba Reczny", cursive;
  color: #29265c !important;
  font-weight: 400 !important;
  font-size: 32pt !important;
}

h6.kuba-reczny-green-h6 {
  color: #4dae3e !important;
  font-weight: 400 !important;
  font-size: 32pt !important;
}

h6.kuba-reczny-red-h6 {
  color: red !important;
  font-weight: 400 !important;
  font-size: 32pt !important;
}

h6.kuba-reczny-blue-h6 {
  color: #29265c !important;
  font-weight: 400 !important;
  font-size: 32pt !important;
}

/* ========================================
   ----- SEKCJE -----
======================================== */

.custom-section {
  display: flex;
  flex-direction: row;
  text-align: justify;
  gap: 50px;
}

.custom-inner-section {
  width: 300px;
  border-top: 1px solid #29245c;
  position: relative;
}

.custom-image {
  position: absolute;
  left: 200px;
}

/* ========================================
   ----- SPIS TREŚCI -----
======================================== */

li.toc-h6 {
  padding-left: 50px !important;
}

/* ========================================
   ----- SPECJALNE -----
======================================== */

.hide-e14 .div-table-th-bd .tr-dr:nth-child(4) {
  display: none !important;
}

.rozdzial-w-raporcie .div-table-dr-th .col3-dr8 {
  color: transparent;
  position: relative;
}

.rozdzial-w-raporcie .div-table-dr-th .col3-dr8::before {
  content: "Rozdział i strona w raporcie";
  color: #333333;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
