/* ========================================
   ----- EDYTOR -----
======================================== */

/* ========================================
   GLOBALNE
======================================== */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* ========================================
   GLOBALNE TEKSTY
======================================== */

.ble-editor h1,
.body-page-view h1 {
  color: #000066;
  font-size: 11pt;
  text-align: justify;
  font-family: "Lato";
}

.ble-editor h2,
.ble-editor h3,
.ble-editor h4,
.ble-editor h5,
.body-page-view h2,
.body-page-view h3,
.body-page-view h4,
.body-page-view h5 {
  color: #000000;
  font-size: 11pt;
  text-align: justify;
  font-family: "Lato";
}

.ble-editor p,
.body-page-view p {
  color: #004874;
  font-size: 11pt;
  text-align: justify;
  font-family: "Lato";
  color: #000000;
}

/* ========================================
   WŁASNE TEKSTY
======================================== */

/* ========================================
   GLOBALNE LISTY
======================================== */

li {
  font-size: 12pt;
  text-align: justify;
}
ul {
  font-size: 12pt;
  text-align: justify;
}
ol {
  font-size: 12pt;
  text-align: justify;
}

/* ========================================
   WŁASNE LISTY
======================================== */

/* ========================================
   STRONA TYTUŁOWA
======================================== */

/* ========================================
   SPIS TREŚCI
======================================== */

.ble-editor .elToc .toc-title,
.body-page-view .xToc .toc-title {
  color: #183264;
  font-size: 12pt !important;
}

.ble-editor .elToc .toc-h1,
.body-page-view .xToc .toc-h1 {
  color: #183264 !important;
  font-size: 9pt !important;
}

.ble-editor .elToc .toc-h2,
.body-page-view .xToc .toc-h2 {
  color: #183264 !important;
  font-size: 9pt !important;
}

.ble-editor .elToc .toc-h3,
.body-page-view .xToc .toc-h3 {
  color: #183264 !important;
  font-size: 9pt !important;
}

/* ========================================
   NAGŁÓWEK
======================================== */

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.top-bar-img-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.top-bar img {
  max-height: 65px;
  height: auto;
  width: auto;
  margin-right: auto;
}

.topbar-text {
  color: #183264;
  font-size: 9pt;
  font-weight: bold;
  align-self: flex-end;
  text-align: flex-start;
  width: 100%;
  margin: center;
  margin-left: 25px;
}

.topbar-line {
  border: none;
  background-color: black;
  height: 1px;
  width: 100%;
  flex-shrink: 0;
}

/* ========================================
   STOPKA
======================================== */

.footer {
  display: flex;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: right;
}

.footer-text {
  color: black;
  float: right;
  font-size: 9pt;
  text-align: right;
}

.page-number {
  bottom: 9px;
  right: 50px;
  font-size: 18pt;
  text-align: right;
}

.report-title {
  bottom: 1px;
  right: 365px;
  font-size: 10pt;
  text-align: center;
}

.company-name {
  bottom: 9px;
  right: 90px;
  font-size: 18pt;
  text-align: right;
}

/* ========================================
   GLOBALNE TABELE
======================================== */

/* ========================================
   TABELE WYRÓWNANIE TEKSTU
======================================== */

.col-align-1r tbody td:first-child {
  text-align: right !important;
}
.col-align-2r tbody td:nth-child(2) {
  text-align: right !important;
}
.col-align-3r tbody td:nth-child(3) {
  text-align: right !important;
}
.col-align-4r tbody td:nth-child(4) {
  text-align: right !important;
}
.col-align-5r tbody td:nth-child(5) {
  text-align: right !important;
}
.col-align-6r tbody td:nth-child(6) {
  text-align: right !important;
}
.col-align-7r tbody td:nth-child(7) {
  text-align: right !important;
}
.col-align-8r tbody td:nth-child(8) {
  text-align: right !important;
}
.col-align-9r tbody td:nth-child(9) {
  text-align: right !important;
}
.col-align-10r tbody td:nth-child(10) {
  text-align: right !important;
}

.col-align-1l tbody td:first-child {
  text-align: left !important;
}
.col-align-2l tbody td:nth-child(2) {
  text-align: left !important;
}
.col-align-3l tbody td:nth-child(3) {
  text-align: left !important;
}
.col-align-4l tbody td:nth-child(4) {
  text-align: left !important;
}
.col-align-5l tbody td:nth-child(5) {
  text-align: left !important;
}
.col-align-6l tbody td:nth-child(6) {
  text-align: left !important;
}
.col-align-7l tbody td:nth-child(7) {
  text-align: left !important;
}
.col-align-8l tbody td:nth-child(8) {
  text-align: left !important;
}
.col-align-9l tbody td:nth-child(9) {
  text-align: left !important;
}
.col-align-10l tbody td:nth-child(10) {
  text-align: left !important;
}

.col-align-1c tbody td:first-child {
  text-align: center !important;
}
.col-align-2c tbody td:nth-child(2) {
  text-align: center !important;
}
.col-align-3c tbody td:nth-child(3) {
  text-align: center !important;
}
.col-align-4c tbody td:nth-child(4) {
  text-align: center !important;
}
.col-align-5c tbody td:nth-child(5) {
  text-align: center !important;
}
.col-align-6c tbody td:nth-child(6) {
  text-align: center !important;
}
.col-align-7c tbody td:nth-child(7) {
  text-align: center !important;
}
.col-align-8c tbody td:nth-child(8) {
  text-align: center !important;
}
.col-align-9c tbody td:nth-child(9) {
  text-align: center !important;
}
.col-align-10c tbody td:nth-child(10) {
  text-align: center !important;
}

.col-align-1j tbody td:first-child {
  text-align: justify !important;
}
.col-align-2j tbody td:nth-child(2) {
  text-align: justify !important;
}
.col-align-3j tbody td:nth-child(3) {
  text-align: justify !important;
}
.col-align-4j tbody td:nth-child(4) {
  text-align: justify !important;
}
.col-align-5j tbody td:nth-child(5) {
  text-align: justify !important;
}
.col-align-6j tbody td:nth-child(6) {
  text-align: justify !important;
}
.col-align-7j tbody td:nth-child(7) {
  text-align: justify !important;
}
.col-align-8j tbody td:nth-child(8) {
  text-align: justify !important;
}
.col-align-9j tbody td:nth-child(9) {
  text-align: justify !important;
}
.col-align-10j tbody td:nth-child(10) {
  text-align: justify !important;
}

/* ========================================
   TABELE SZEROKOŚĆ KOLUMN
======================================== */

.table-wrapper-2-41 td {
  width: 50% !important;
}
.table-wrapper-2-41 td:first-child {
  width: 80% !important;
}
.table-wrapper-2-41 td:nth-child(2) {
  width: 20% !important;
}

.table-wrapper-2-31 td {
  width: 50% !important;
}
.table-wrapper-2-31 td:first-child {
  width: 75% !important;
}
.table-wrapper-2-31 td:last-child {
  width: 25% !important;
}

.table-wrapper-3-411 td {
  width: 33% !important;
}
.table-wrapper-3-411 td:first-child {
  width: 66% !important;
}
.table-wrapper-3-411 td:nth-child(2) {
  width: 16% !important;
}
.table-wrapper-3-411 td:nth-child(3) {
  width: 16% !important;
}

.table-wrapper-3-322 td {
  width: 33% !important;
}
.table-wrapper-3-322 td:first-child {
  width: 42% !important;
}
.table-wrapper-3-322 td:nth-child(2) {
  width: 28% !important;
}
.table-wrapper-3-322 td:nth-child(3) {
  width: 28% !important;
}

.table-wrapper-3-211-shrink-2 td {
  width: 33% !important;
}
.table-wrapper-3-211-shrink-2 td:first-child {
  width: 50% !important;
}
.table-wrapper-3-211-shrink-2 td:nth-child(2) {
  width: 25% !important;
}
.table-wrapper-3-211-shrink-2 td:nth-child(3) {
  width: 25% !important;
}

.table-wrapper-4-3111 td {
  width: 25% !important;
}
.table-wrapper-4-3111 td:first-child {
  width: 50% !important;
}
.table-wrapper-4-3111 td:nth-child(2) {
  width: 16% !important;
}
.table-wrapper-4-3111 td:nth-child(3) {
  width: 16% !important;
}
.table-wrapper-4-3111 td:nth-child(4) {
  width: 16% !important;
}

.table-wrapper-4-3222 td {
  width: 25% !important;
}
.table-wrapper-4-3222 td:first-child {
  width: 33% !important;
}
.table-wrapper-4-3222 td:nth-child(2) {
  width: 22% !important;
}
.table-wrapper-4-3222 td:nth-child(3) {
  width: 22% !important;
}
.table-wrapper-4-3222 td:nth-child(4) {
  width: 22% !important;
}

.table-wrapper-4-2111 td {
  width: 25% !important;
}
.table-wrapper-4-2111 td:first-child {
  width: 40% !important;
}
.table-wrapper-4-2111 td:nth-child(2) {
  width: 20% !important;
}
.table-wrapper-4-2111 td:nth-child(3) {
  width: 20% !important;
}
.table-wrapper-4-2111 td:nth-child(4) {
  width: 20% !important;
}

.table-wrapper-4-4122 td {
  width: 25% !important;
}
.table-wrapper-4-4122 td:first-child {
  width: 44% !important;
}
.table-wrapper-4-4122 td:nth-child(2) {
  width: 11% !important;
}
.table-wrapper-4-4122 td:nth-child(3) {
  width: 22% !important;
}
.table-wrapper-4-4122 td:nth-child(4) {
  width: 22% !important;
}

.table-wrapper-4-1333 td {
  width: 25% !important;
}
.table-wrapper-4-1333 td:first-child {
  width: 10% !important;
}
.table-wrapper-4-1333 td:nth-child(2) {
  width: 30% !important;
}
.table-wrapper-4-1333 td:nth-child(3) {
  width: 30% !important;
}
.table-wrapper-4-1333 td:nth-child(4) {
  width: 30% !important;
}

.table-wrapper-5-32222 td {
  width: 20% !important;
}
.table-wrapper-5-32222 td:first-child {
  width: 28% !important;
}
.table-wrapper-5-32222 td:nth-child(2) {
  width: 18% !important;
}
.table-wrapper-5-32222 td:nth-child(3) {
  width: 18% !important;
}
.table-wrapper-5-32222 td:nth-child(4) {
  width: 18% !important;
}
.table-wrapper-5-32222 td:nth-child(5) {
  width: 18% !important;
}

.table-wrapper-5-32222-break-line td {
  width: 20% !important;
}
.table-wrapper-5-32222-break-line td:first-child {
  width: 48% !important;
}
.table-wrapper-5-32222-break-line td:nth-child(2) {
  width: 13% !important;
}
.table-wrapper-5-32222-break-line td:nth-child(3) {
  width: 13% !important;
}
.table-wrapper-5-32222-break-line td:nth-child(4) {
  width: 13% !important;
}
.table-wrapper-5-32222-break-line td:nth-child(5) {
  width: 13% !important;
}

.table-wrapper-5-11111 td:first-child {
  width: 20% !important;
}
.table-wrapper-5-11111 td:nth-child(2) {
  width: 20% !important;
}
.table-wrapper-5-11111 td:nth-child(3) {
  width: 20% !important;
}
.table-wrapper-5-11111 td:nth-child(4) {
  width: 20% !important;
}
.table-wrapper-5-11111 td:nth-child(5) {
  width: 20% !important;
}

.table-wrapper-6-322222 td {
  width: 16% !important;
}
.table-wrapper-6-322222 td:first-child {
  width: 23% !important;
}
.table-wrapper-6-322222 td:nth-child(2) {
  width: 15% !important;
}
.table-wrapper-6-322222 td:nth-child(3) {
  width: 15% !important;
}
.table-wrapper-6-322222 td:nth-child(4) {
  width: 15% !important;
}
.table-wrapper-6-322222 td:nth-child(5) {
  width: 15% !important;
}
.table-wrapper-6-322222 td:nth-child(6) {
  width: 15% !important;
}

.table-wrapper-6-612222 td {
  width: 16% !important;
}
.table-wrapper-6-612222 td:first-child {
  width: 40% !important;
}
.table-wrapper-6-612222 td:nth-child(2) {
  width: 7% !important;
}
.table-wrapper-6-612222 td:nth-child(3) {
  width: 13% !important;
}
.table-wrapper-6-612222 td:nth-child(4) {
  width: 13% !important;
}
.table-wrapper-6-612222 td:nth-child(5) {
  width: 13% !important;
}
.table-wrapper-6-612222 td:nth-child(6) {
  width: 13% !important;
}

.table-wrapper-6-111111 td {
  width: 16% !important;
}
.table-wrapper-6-111111 td:first-child {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(2) {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(3) {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(4) {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(5) {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(6) {
  width: 16.6% !important;
}

.table-wrapper-6-322211 td {
  width: 16% !important;
}
.table-wrapper-6-322211 td:first-child {
  width: 27% !important;
}
.table-wrapper-6-322211 td:nth-child(2) {
  width: 18% !important;
}
.table-wrapper-6-322211 td:nth-child(3) {
  width: 18% !important;
}
.table-wrapper-6-322211 td:nth-child(4) {
  width: 18% !important;
}
.table-wrapper-6-322211 td:nth-child(5) {
  width: 9% !important;
}
.table-wrapper-6-322211 td:nth-child(6) {
  width: 9% !important;
}

.table-wrapper-7-2111111 td {
  width: 14% !important;
}
.table-wrapper-7-2111111 td:first-child {
  width: 28% !important;
}
.table-wrapper-7-2111111 td:nth-child(2) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(3) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(4) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(5) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(6) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(7) {
  width: 12% !important;
}

.table-wrapper-7-3222222 td {
  width: 14% !important;
}
.table-wrapper-7-3222222 td:first-child {
  width: 22% !important;
}
.table-wrapper-7-3222222 td:nth-child(2) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(3) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(4) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(5) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(6) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(7) {
  width: 13% !important;
}

.table-wrapper-9-411111111 td {
  width: 11% !important;
}
.table-wrapper-9-411111111 td:first-child {
  width: 34% !important;
}
.table-wrapper-9-411111111 td:nth-child(2) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(3) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(4) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(5) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(6) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(7) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(8) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(9) {
  width: 8% !important;
}

/* ========================================
   WŁASNE TABELE - z nagłówkiem
======================================== */

.head-table-1 table {
  border-color: transparent !important;
}

.head-table-1 table thead tr td {
  background-color: #002060 !important;
  color: white !important;
  border-color: transparent !important;
  border-bottom: 1px solid white !important;
}

.head-table-1 table tbody tr td {
  background-color: #f2f2f2 !important;
  color: #000000 !important;
  border-bottom: 1px solid #004874 !important;
  border-color: transparent !important;
}

/* ========================================
   WŁASNE TABELE - bez nagłówka
======================================== */

.no-head-table-1 table {
  border-color: transparent !important;
}

.no-head-table-1 table tbody tr:first-child td {
  background-color: #002060 !important;
  color: white !important;
  border-color: transparent !important;
  border-bottom: 1px solid white !important;
}

.no-head-table-1 table tbody tr:not(:first-child) td {
  background-color: #f2f2f2 !important;
  color: #000000 !important;
  border-bottom: 1px solid #004874 !important;
  border-color: transparent !important;
}

/* ========================================
   WŁASNE TABELE - pojedyńcze reguły
======================================== */

/* ========================================
   OBRAZY
======================================== */
