/* ========================================
   ----- EDYTOR -----
======================================== */

/* ========================================
   GLOBALNE
======================================== */

/* ========================================
   GLOBALNE TEKSTY
======================================== */

.ble-editor h1,
.body-page-view h1 {
  font-size: 14pt;
}

.ble-editor h2,
.body-page-view h2 {
  font-size: 13pt;
}

.ble-editor h3,
.body-page-view h3 {
  font-size: 11pt;
}

.ble-editor h4,
.body-page-view h4 {
  font-size: 11pt;
}

.ble-editor p,
.body-page-view p {
  font-size: 10pt;
  text-align: justify;
  color: black;
}

.ble-editor .elSection {
  margin-top: 1rem;
}

/* ========================================
   WŁASNE TEKSTY
======================================== */

.blue-header {
  color: #2b3c67 !important;
}

.red-header {
  color: #c20e1a !important;
}

/* ========================================
   GLOBALNE LISTY
======================================== */

.ble-editor li,
.body-page-view li {
  font-size: 10pt;
}
.ble-editor ul,
.body-page-view ul {
  font-size: 10pt;
}
.ble-editor ol,
.body-page-view ol {
  font-size: 10pt;
}

/* ========================================
   WŁASNE LISTY
======================================== */

/* ========================================
   STRONA TYTUŁOWA
======================================== */

/* ========================================
   SPIS TREŚCI
======================================== */

.ble-editor .elToc .toc-title,
.body-page-view .xToc .toc-title {
  font-size: 12pt !important;
  color: #365f91 !important;
}

.ble-editor .elToc .toc-h1,
.body-page-view .xToc .toc-h1 {
  font-size: 10pt !important;
  color: black !important;
}

.ble-editor .elToc .toc-h2,
.body-page-view .xToc .toc-h2 {
  font-size: 10pt !important;
  color: black !important;
}

.ble-editor .elToc .toc-h3,
.body-page-view .xToc .toc-h3 {
  font-size: 10pt !important;
  color: black !important;
}

.ble-editor .elToc .toc-h4,
.body-page-view .xToc .toc-h4 {
  font-size: 10pt !important;
  color: black !important;
}

/* ========================================
   NAGŁÓWEK
======================================== */

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.top-bar img {
  max-height: 65px;
  height: auto;
  width: auto;
  margin-left: auto;
}

.topbar-text {
  color: black;
  font-size: 6pt;
  align-self: center;
  text-align: center;
  width: 50%;
  margin: center;
}

.topbar-line {
  border: none;
  background-color: black;
  height: 1px;
  width: 75%;
  flex-shrink: 0;
}

/* ========================================
   STOPKA
======================================== */

.footer {
  display: flex;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: right;
}

.footer-text {
  color: black;
  float: right;
  font-size: 9pt;
  text-align: right;
}

/* ========================================
   GLOBALNE TABELE
======================================== */

table {
  background-color: white !important;
  border-bottom: 1px solid #2b3c67 !important;
  border-top: 1px solid #2b3c67 !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid #2b3c67 !important;
}

table thead {
  border-color: #2b3c67 !important;
}

table thead tr {
  border-color: #2b3c67 !important;
}

table thead tr td {
  background-color: #2b3c67 !important;
  color: white !important;
  text-align: center !important;
  border: 1px solid #2b3c67 !important;
}

table thead tr td:first-child {
  background-color: #2b3c67 !important;
  color: white !important;
  text-align: center !important;
}

table tbody tr td {
  border-top: 1px solid #2b3c67 !important;
  border-left: 1px solid #2b3c67 !important;
  border-right: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

/* ========================================
   TABELE WYRÓWNANIE TEKSTU
======================================== */

.col-align-1r tbody td:first-child {
  text-align: right !important;
}
.col-align-2r tbody td:nth-child(2) {
  text-align: right !important;
}
.col-align-3r tbody td:nth-child(3) {
  text-align: right !important;
}
.col-align-4r tbody td:nth-child(4) {
  text-align: right !important;
}
.col-align-5r tbody td:nth-child(5) {
  text-align: right !important;
}
.col-align-6r tbody td:nth-child(6) {
  text-align: right !important;
}
.col-align-7r tbody td:nth-child(7) {
  text-align: right !important;
}
.col-align-8r tbody td:nth-child(8) {
  text-align: right !important;
}
.col-align-9r tbody td:nth-child(9) {
  text-align: right !important;
}
.col-align-10r tbody td:nth-child(10) {
  text-align: right !important;
}

.col-align-1l tbody td:first-child {
  text-align: left !important;
}
.col-align-2l tbody td:nth-child(2) {
  text-align: left !important;
}
.col-align-3l tbody td:nth-child(3) {
  text-align: left !important;
}
.col-align-4l tbody td:nth-child(4) {
  text-align: left !important;
}
.col-align-5l tbody td:nth-child(5) {
  text-align: left !important;
}
.col-align-6l tbody td:nth-child(6) {
  text-align: left !important;
}
.col-align-7l tbody td:nth-child(7) {
  text-align: left !important;
}
.col-align-8l tbody td:nth-child(8) {
  text-align: left !important;
}
.col-align-9l tbody td:nth-child(9) {
  text-align: left !important;
}
.col-align-10l tbody td:nth-child(10) {
  text-align: left !important;
}

.col-align-1c tbody td:first-child {
  text-align: center !important;
}
.col-align-2c tbody td:nth-child(2) {
  text-align: center !important;
}
.col-align-3c tbody td:nth-child(3) {
  text-align: center !important;
}
.col-align-4c tbody td:nth-child(4) {
  text-align: center !important;
}
.col-align-5c tbody td:nth-child(5) {
  text-align: center !important;
}
.col-align-6c tbody td:nth-child(6) {
  text-align: center !important;
}
.col-align-7c tbody td:nth-child(7) {
  text-align: center !important;
}
.col-align-8c tbody td:nth-child(8) {
  text-align: center !important;
}
.col-align-9c tbody td:nth-child(9) {
  text-align: center !important;
}
.col-align-10c tbody td:nth-child(10) {
  text-align: center !important;
}

.col-align-1j tbody td:first-child {
  text-align: justify !important;
}
.col-align-2j tbody td:nth-child(2) {
  text-align: justify !important;
}
.col-align-3j tbody td:nth-child(3) {
  text-align: justify !important;
}
.col-align-4j tbody td:nth-child(4) {
  text-align: justify !important;
}
.col-align-5j tbody td:nth-child(5) {
  text-align: justify !important;
}
.col-align-6j tbody td:nth-child(6) {
  text-align: justify !important;
}
.col-align-7j tbody td:nth-child(7) {
  text-align: justify !important;
}
.col-align-8j tbody td:nth-child(8) {
  text-align: justify !important;
}
.col-align-9j tbody td:nth-child(9) {
  text-align: justify !important;
}
.col-align-10j tbody td:nth-child(10) {
  text-align: justify !important;
}

/* ========================================
   TABELE SZEROKOŚĆ KOLUMN
======================================== */

.table-wrapper-2-41 td {
  width: 50%;
}
.table-wrapper-2-41 td:first-child {
  width: 80%;
}
.table-wrapper-2-41 td:nth-child(2) {
  width: 20%;
}

.table-wrapper-2-31 td {
  width: 50%;
}
.table-wrapper-2-31 td:first-child {
  width: 75%;
}
.table-wrapper-2-31 td:last-child {
  width: 25%;
}

.table-wrapper-3-411 td {
  width: 33%;
}
.table-wrapper-3-411 td:first-child {
  width: 66%;
}
.table-wrapper-3-411 td:nth-child(2) {
  width: 16%;
}
.table-wrapper-3-411 td:nth-child(3) {
  width: 16%;
}

.table-wrapper-3-322 td {
  width: 33%;
}
.table-wrapper-3-322 td:first-child {
  width: 42%;
}
.table-wrapper-3-322 td:nth-child(2) {
  width: 28%;
}
.table-wrapper-3-322 td:nth-child(3) {
  width: 28%;
}

.table-wrapper-3-211-shrink-2 td {
  width: 33%;
}
.table-wrapper-3-211-shrink-2 td:first-child {
  width: 50%;
}
.table-wrapper-3-211-shrink-2 td:nth-child(2) {
  width: 25%;
}
.table-wrapper-3-211-shrink-2 td:nth-child(3) {
  width: 25%;
}

.table-wrapper-4-3111 td {
  width: 25%;
}
.table-wrapper-4-3111 td:first-child {
  width: 50%;
}
.table-wrapper-4-3111 td:nth-child(2) {
  width: 16%;
}
.table-wrapper-4-3111 td:nth-child(3) {
  width: 16%;
}
.table-wrapper-4-3111 td:nth-child(4) {
  width: 16%;
}

.table-wrapper-4-3222 td {
  width: 25%;
}
.table-wrapper-4-3222 td:first-child {
  width: 33%;
}
.table-wrapper-4-3222 td:nth-child(2) {
  width: 22%;
}
.table-wrapper-4-3222 td:nth-child(3) {
  width: 22%;
}
.table-wrapper-4-3222 td:nth-child(4) {
  width: 22%;
}

.table-wrapper-4-2111 td {
  width: 25%;
}
.table-wrapper-4-2111 td:first-child {
  width: 40%;
}
.table-wrapper-4-2111 td:nth-child(2) {
  width: 20%;
}
.table-wrapper-4-2111 td:nth-child(3) {
  width: 20%;
}
.table-wrapper-4-2111 td:nth-child(4) {
  width: 20%;
}

.table-wrapper-4-4122 td {
  width: 25%;
}
.table-wrapper-4-4122 td:first-child {
  width: 44%;
}
.table-wrapper-4-4122 td:nth-child(2) {
  width: 11%;
}
.table-wrapper-4-4122 td:nth-child(3) {
  width: 22%;
}
.table-wrapper-4-4122 td:nth-child(4) {
  width: 22%;
}

.table-wrapper-4-1333 td {
  width: 25%;
}
.table-wrapper-4-1333 td:first-child {
  width: 10%;
}
.table-wrapper-4-1333 td:nth-child(2) {
  width: 30%;
}
.table-wrapper-4-1333 td:nth-child(3) {
  width: 30%;
}
.table-wrapper-4-1333 td:nth-child(4) {
  width: 30%;
}

.table-wrapper-5-32222 td {
  width: 20%;
}
.table-wrapper-5-32222 td:first-child {
  width: 28%;
}
.table-wrapper-5-32222 td:nth-child(2) {
  width: 18%;
}
.table-wrapper-5-32222 td:nth-child(3) {
  width: 18%;
}
.table-wrapper-5-32222 td:nth-child(4) {
  width: 18%;
}
.table-wrapper-5-32222 td:nth-child(5) {
  width: 18%;
}

.table-wrapper-5-32222-break-line td {
  width: 20%;
}
.table-wrapper-5-32222-break-line td:first-child {
  width: 48%;
}
.table-wrapper-5-32222-break-line td:nth-child(2) {
  width: 13%;
}
.table-wrapper-5-32222-break-line td:nth-child(3) {
  width: 13%;
}
.table-wrapper-5-32222-break-line td:nth-child(4) {
  width: 13%;
}
.table-wrapper-5-32222-break-line td:nth-child(5) {
  width: 13%;
}

.table-wrapper-5-11111 td:first-child {
  width: 20%;
}
.table-wrapper-5-11111 td:nth-child(2) {
  width: 20%;
}
.table-wrapper-5-11111 td:nth-child(3) {
  width: 20%;
}
.table-wrapper-5-11111 td:nth-child(4) {
  width: 20%;
}
.table-wrapper-5-11111 td:nth-child(5) {
  width: 20%;
}

.table-wrapper-6-322222 td {
  width: 16%;
}
.table-wrapper-6-322222 td:first-child {
  width: 23%;
}
.table-wrapper-6-322222 td:nth-child(2) {
  width: 15%;
}
.table-wrapper-6-322222 td:nth-child(3) {
  width: 15%;
}
.table-wrapper-6-322222 td:nth-child(4) {
  width: 15%;
}
.table-wrapper-6-322222 td:nth-child(5) {
  width: 15%;
}
.table-wrapper-6-322222 td:nth-child(6) {
  width: 15%;
}

.table-wrapper-6-612222 td {
  width: 16%;
}
.table-wrapper-6-612222 td:first-child {
  width: 40%;
}
.table-wrapper-6-612222 td:nth-child(2) {
  width: 7%;
}
.table-wrapper-6-612222 td:nth-child(3) {
  width: 13%;
}
.table-wrapper-6-612222 td:nth-child(4) {
  width: 13%;
}
.table-wrapper-6-612222 td:nth-child(5) {
  width: 13%;
}
.table-wrapper-6-612222 td:nth-child(6) {
  width: 13%;
}

.table-wrapper-6-111111 td {
  width: 16%;
}
.table-wrapper-6-111111 td:first-child {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(2) {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(3) {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(4) {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(5) {
  width: 16.6%;
}
.table-wrapper-6-111111 td:nth-child(6) {
  width: 16.6%;
}

.table-wrapper-6-322211 td {
  width: 16%;
}
.table-wrapper-6-322211 td:first-child {
  width: 27%;
}
.table-wrapper-6-322211 td:nth-child(2) {
  width: 18%;
}
.table-wrapper-6-322211 td:nth-child(3) {
  width: 18%;
}
.table-wrapper-6-322211 td:nth-child(4) {
  width: 18%;
}
.table-wrapper-6-322211 td:nth-child(5) {
  width: 9%;
}
.table-wrapper-6-322211 td:nth-child(6) {
  width: 9%;
}

.table-wrapper-7-2111111 td {
  width: 14%;
}
.table-wrapper-7-2111111 td:first-child {
  width: 28%;
}
.table-wrapper-7-2111111 td:nth-child(2) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(3) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(4) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(5) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(6) {
  width: 12%;
}
.table-wrapper-7-2111111 td:nth-child(7) {
  width: 12%;
}

.table-wrapper-7-3222222 td {
  width: 14%;
}
.table-wrapper-7-3222222 td:first-child {
  width: 22%;
}
.table-wrapper-7-3222222 td:nth-child(2) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(3) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(4) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(5) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(6) {
  width: 13%;
}
.table-wrapper-7-3222222 td:nth-child(7) {
  width: 13%;
}

.table-wrapper-9-411111111 td {
  width: 11%;
}
.table-wrapper-9-411111111 td:first-child {
  width: 34%;
}
.table-wrapper-9-411111111 td:nth-child(2) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(3) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(4) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(5) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(6) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(7) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(8) {
  width: 8%;
}
.table-wrapper-9-411111111 td:nth-child(9) {
  width: 8%;
}

/* ========================================
   WŁASNE TABELE - z nagłówkiem
======================================== */

/* ========================================
   WŁASNE TABELE - bez nagłówka
======================================== */

/* ========================================
   WŁASNE TABELE - pojedyńcze reguły
======================================== */

.small-font-size thead td {
  font-size: 8pt !important;
  height: 2rem !important;
}
.small-font-size tbody td {
  font-size: 8pt !important;
  height: 1.5rem !important;
}

.more-small-font-size thead td {
  font-size: 8pt !important;
  height: 1rem !important;
}
.more-small-font-size tbody td {
  font-size: 8pt !important;
  height: 1rem !important;
}
