/* ========================================
   ----- EDYTOR -----
======================================== */

/* ========================================
   GLOBALNE
======================================== */

.ble-editor p,
.body-page-view p {
  font-size: 9pt;
  text-align: justify;
  color: black;
}

.ble-editor h1,
.ble-editor h2,
.ble-editor h3,
.ble-editor h4,
.ble-editor h5 {
  font-weight: 700;
}

.ble-editor h1,
.ble-editor h2,
.ble-editor h3,
.ble-editor h4,
.ble-editor h5 {
  letter-spacing: 1px;
  color: #808080;
}

.ble-editor h1 {
  font-size: 16pt;
}

.ble-editor h2 {
  font-size: 14pt;
}

.ble-editor h3 {
  font-size: 13pt;
}

.ble-editor h4 {
  font-size: 12pt;
}

.ble-editor h5 {
  font-size: 10pt;
}

.ble-editor p {
  font-size: 10.5pt;
  justify-self: justify;
}

.ble-editor p.e-p > * {
  text-align: justify;
}

/* ========================================
   GLOBALNE TEKSTY
======================================== */

/* ========================================
   WŁASNE TEKSTY
======================================== */

/* ========================================
   GLOBALNE LISTY
======================================== */

/* ========================================
   WŁASNE LISTY
======================================== */

/* ========================================
   STRONA TYTUŁOWA
======================================== */

.title-page-background-image {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/* ========================================
   SPIS TREŚCI
======================================== */

/* ========================================
   NAGŁÓWEK
======================================== */

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.top-bar img {
  max-height: 75px;
  height: auto;
  width: auto;
}

.topbar-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: bottom;
  margin-right: 20px;
  width: 75%;
  box-sizing: border-box;
}

.topbar-text {
  color: black;
  font-size: 8pt;
  align-self: center;
  text-align: end;
  width: 100%;
  margin: center;
}

.topbar-line {
  border: none;
  background-color: black;
  height: 1px;
  width: 100%;
  flex-shrink: 0;
}

/* ========================================
   STOPKA
======================================== */

.footer {
  display: flex;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  justify-content: right;
}

.footer-text {
  color: black;
  float: right;
  font-size: 9pt;
  text-align: right;
}

/* ========================================
   GLOBALNE TABELE
======================================== */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

table th {
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

/* ========================================
   TABELE WYRÓWNANIE TEKSTU
======================================== */

.col-align-1r tbody td:first-child {
  text-align: right !important;
}
.col-align-2r tbody td:nth-child(2) {
  text-align: right !important;
}
.col-align-3r tbody td:nth-child(3) {
  text-align: right !important;
}
.col-align-4r tbody td:nth-child(4) {
  text-align: right !important;
}
.col-align-5r tbody td:nth-child(5) {
  text-align: right !important;
}
.col-align-6r tbody td:nth-child(6) {
  text-align: right !important;
}
.col-align-7r tbody td:nth-child(7) {
  text-align: right !important;
}
.col-align-8r tbody td:nth-child(8) {
  text-align: right !important;
}
.col-align-9r tbody td:nth-child(9) {
  text-align: right !important;
}
.col-align-10r tbody td:nth-child(10) {
  text-align: right !important;
}

.col-align-1l tbody td:first-child {
  text-align: left !important;
}
.col-align-2l tbody td:nth-child(2) {
  text-align: left !important;
}
.col-align-3l tbody td:nth-child(3) {
  text-align: left !important;
}
.col-align-4l tbody td:nth-child(4) {
  text-align: left !important;
}
.col-align-5l tbody td:nth-child(5) {
  text-align: left !important;
}
.col-align-6l tbody td:nth-child(6) {
  text-align: left !important;
}
.col-align-7l tbody td:nth-child(7) {
  text-align: left !important;
}
.col-align-8l tbody td:nth-child(8) {
  text-align: left !important;
}
.col-align-9l tbody td:nth-child(9) {
  text-align: left !important;
}
.col-align-10l tbody td:nth-child(10) {
  text-align: left !important;
}

.col-align-1c tbody td:first-child {
  text-align: center !important;
}
.col-align-2c tbody td:nth-child(2) {
  text-align: center !important;
}
.col-align-3c tbody td:nth-child(3) {
  text-align: center !important;
}
.col-align-4c tbody td:nth-child(4) {
  text-align: center !important;
}
.col-align-5c tbody td:nth-child(5) {
  text-align: center !important;
}
.col-align-6c tbody td:nth-child(6) {
  text-align: center !important;
}
.col-align-7c tbody td:nth-child(7) {
  text-align: center !important;
}
.col-align-8c tbody td:nth-child(8) {
  text-align: center !important;
}
.col-align-9c tbody td:nth-child(9) {
  text-align: center !important;
}
.col-align-10c tbody td:nth-child(10) {
  text-align: center !important;
}

.col-align-1j tbody td:first-child {
  text-align: justify !important;
}
.col-align-2j tbody td:nth-child(2) {
  text-align: justify !important;
}
.col-align-3j tbody td:nth-child(3) {
  text-align: justify !important;
}
.col-align-4j tbody td:nth-child(4) {
  text-align: justify !important;
}
.col-align-5j tbody td:nth-child(5) {
  text-align: justify !important;
}
.col-align-6j tbody td:nth-child(6) {
  text-align: justify !important;
}
.col-align-7j tbody td:nth-child(7) {
  text-align: justify !important;
}
.col-align-8j tbody td:nth-child(8) {
  text-align: justify !important;
}
.col-align-9j tbody td:nth-child(9) {
  text-align: justify !important;
}
.col-align-10j tbody td:nth-child(10) {
  text-align: justify !important;
}

/* ========================================
   TABELE SZEROKOŚĆ KOLUMN
======================================== */

.table-wrapper-2-41 td {
  width: 50% !important;
}
.table-wrapper-2-41 td:first-child {
  width: 80% !important;
}
.table-wrapper-2-41 td:nth-child(2) {
  width: 20% !important;
}

.table-wrapper-2-31 td {
  width: 50% !important;
}
.table-wrapper-2-31 td:first-child {
  width: 75% !important;
}
.table-wrapper-2-31 td:last-child {
  width: 25% !important;
}

.table-wrapper-3-411 td {
  width: 33% !important;
}
.table-wrapper-3-411 td:first-child {
  width: 66% !important;
}
.table-wrapper-3-411 td:nth-child(2) {
  width: 16% !important;
}
.table-wrapper-3-411 td:nth-child(3) {
  width: 16% !important;
}

.table-wrapper-3-322 td {
  width: 33% !important;
}
.table-wrapper-3-322 td:first-child {
  width: 42% !important;
}
.table-wrapper-3-322 td:nth-child(2) {
  width: 28% !important;
}
.table-wrapper-3-322 td:nth-child(3) {
  width: 28% !important;
}

.table-wrapper-3-211-shrink-2 td {
  width: 33% !important;
}
.table-wrapper-3-211-shrink-2 td:first-child {
  width: 50% !important;
}
.table-wrapper-3-211-shrink-2 td:nth-child(2) {
  width: 25% !important;
}
.table-wrapper-3-211-shrink-2 td:nth-child(3) {
  width: 25% !important;
}

.table-wrapper-4-3111 td {
  width: 25% !important;
}
.table-wrapper-4-3111 td:first-child {
  width: 50% !important;
}
.table-wrapper-4-3111 td:nth-child(2) {
  width: 16% !important;
}
.table-wrapper-4-3111 td:nth-child(3) {
  width: 16% !important;
}
.table-wrapper-4-3111 td:nth-child(4) {
  width: 16% !important;
}

.table-wrapper-4-3222 td {
  width: 25% !important;
}
.table-wrapper-4-3222 td:first-child {
  width: 33% !important;
}
.table-wrapper-4-3222 td:nth-child(2) {
  width: 22% !important;
}
.table-wrapper-4-3222 td:nth-child(3) {
  width: 22% !important;
}
.table-wrapper-4-3222 td:nth-child(4) {
  width: 22% !important;
}

.table-wrapper-4-2111 td {
  width: 25% !important;
}
.table-wrapper-4-2111 td:first-child {
  width: 40% !important;
}
.table-wrapper-4-2111 td:nth-child(2) {
  width: 20% !important;
}
.table-wrapper-4-2111 td:nth-child(3) {
  width: 20% !important;
}
.table-wrapper-4-2111 td:nth-child(4) {
  width: 20% !important;
}

.table-wrapper-4-4122 td {
  width: 25% !important;
}
.table-wrapper-4-4122 td:first-child {
  width: 44% !important;
}
.table-wrapper-4-4122 td:nth-child(2) {
  width: 11% !important;
}
.table-wrapper-4-4122 td:nth-child(3) {
  width: 22% !important;
}
.table-wrapper-4-4122 td:nth-child(4) {
  width: 22% !important;
}

.table-wrapper-4-1333 td {
  width: 25% !important;
}
.table-wrapper-4-1333 td:first-child {
  width: 10% !important;
}
.table-wrapper-4-1333 td:nth-child(2) {
  width: 30% !important;
}
.table-wrapper-4-1333 td:nth-child(3) {
  width: 30% !important;
}
.table-wrapper-4-1333 td:nth-child(4) {
  width: 30% !important;
}

.table-wrapper-5-32222 td {
  width: 20% !important;
}
.table-wrapper-5-32222 td:first-child {
  width: 28% !important;
}
.table-wrapper-5-32222 td:nth-child(2) {
  width: 18% !important;
}
.table-wrapper-5-32222 td:nth-child(3) {
  width: 18% !important;
}
.table-wrapper-5-32222 td:nth-child(4) {
  width: 18% !important;
}
.table-wrapper-5-32222 td:nth-child(5) {
  width: 18% !important;
}

.table-wrapper-5-32222-break-line td {
  width: 20% !important;
}
.table-wrapper-5-32222-break-line td:first-child {
  width: 48% !important;
}
.table-wrapper-5-32222-break-line td:nth-child(2) {
  width: 13% !important;
}
.table-wrapper-5-32222-break-line td:nth-child(3) {
  width: 13% !important;
}
.table-wrapper-5-32222-break-line td:nth-child(4) {
  width: 13% !important;
}
.table-wrapper-5-32222-break-line td:nth-child(5) {
  width: 13% !important;
}

.table-wrapper-5-11111 td:first-child {
  width: 20% !important;
}
.table-wrapper-5-11111 td:nth-child(2) {
  width: 20% !important;
}
.table-wrapper-5-11111 td:nth-child(3) {
  width: 20% !important;
}
.table-wrapper-5-11111 td:nth-child(4) {
  width: 20% !important;
}
.table-wrapper-5-11111 td:nth-child(5) {
  width: 20% !important;
}

.table-wrapper-6-322222 td {
  width: 16% !important;
}
.table-wrapper-6-322222 td:first-child {
  width: 23% !important;
}
.table-wrapper-6-322222 td:nth-child(2) {
  width: 15% !important;
}
.table-wrapper-6-322222 td:nth-child(3) {
  width: 15% !important;
}
.table-wrapper-6-322222 td:nth-child(4) {
  width: 15% !important;
}
.table-wrapper-6-322222 td:nth-child(5) {
  width: 15% !important;
}
.table-wrapper-6-322222 td:nth-child(6) {
  width: 15% !important;
}

.table-wrapper-6-612222 td {
  width: 16% !important;
}
.table-wrapper-6-612222 td:first-child {
  width: 40% !important;
}
.table-wrapper-6-612222 td:nth-child(2) {
  width: 7% !important;
}
.table-wrapper-6-612222 td:nth-child(3) {
  width: 13% !important;
}
.table-wrapper-6-612222 td:nth-child(4) {
  width: 13% !important;
}
.table-wrapper-6-612222 td:nth-child(5) {
  width: 13% !important;
}
.table-wrapper-6-612222 td:nth-child(6) {
  width: 13% !important;
}

.table-wrapper-6-111111 td {
  width: 16% !important;
}
.table-wrapper-6-111111 td:first-child {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(2) {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(3) {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(4) {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(5) {
  width: 16.6% !important;
}
.table-wrapper-6-111111 td:nth-child(6) {
  width: 16.6% !important;
}

.table-wrapper-6-322211 td {
  width: 16% !important;
}
.table-wrapper-6-322211 td:first-child {
  width: 27% !important;
}
.table-wrapper-6-322211 td:nth-child(2) {
  width: 18% !important;
}
.table-wrapper-6-322211 td:nth-child(3) {
  width: 18% !important;
}
.table-wrapper-6-322211 td:nth-child(4) {
  width: 18% !important;
}
.table-wrapper-6-322211 td:nth-child(5) {
  width: 9% !important;
}
.table-wrapper-6-322211 td:nth-child(6) {
  width: 9% !important;
}

.table-wrapper-7-2111111 td {
  width: 14% !important;
}
.table-wrapper-7-2111111 td:first-child {
  width: 28% !important;
}
.table-wrapper-7-2111111 td:nth-child(2) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(3) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(4) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(5) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(6) {
  width: 12% !important;
}
.table-wrapper-7-2111111 td:nth-child(7) {
  width: 12% !important;
}

.table-wrapper-7-3222222 td {
  width: 14% !important;
}
.table-wrapper-7-3222222 td:first-child {
  width: 22% !important;
}
.table-wrapper-7-3222222 td:nth-child(2) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(3) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(4) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(5) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(6) {
  width: 13% !important;
}
.table-wrapper-7-3222222 td:nth-child(7) {
  width: 13% !important;
}

.table-wrapper-9-411111111 td {
  width: 11% !important;
}
.table-wrapper-9-411111111 td:first-child {
  width: 34% !important;
}
.table-wrapper-9-411111111 td:nth-child(2) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(3) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(4) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(5) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(6) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(7) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(8) {
  width: 8% !important;
}
.table-wrapper-9-411111111 td:nth-child(9) {
  width: 8% !important;
}

/* ========================================
   WŁASNE TABELE - z nagłówkiem
======================================== */

/* ========================================
   WŁASNE TABELE - bez nagłówka
======================================== */

/* ========================================
   WŁASNE TABELE - pojedyńcze reguły
======================================== */

.table-transparent tbody tr td {
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
  font-size: 12px !important;
}

.table-line,
.table-dotted {
  border-collapse: collapse !important;
  width: 100% !important;
  border-bottom: none !important;
}

.table-line table {
  border-bottom: none !important;
  border-top: 1px solid #c0c0c0 !important;
}

.table-line th,
.table-line td {
  border-bottom: 1px solid #c0c0c0 !important;
  border-left: 1px solid #c0c0c0 !important;
  border-collapse: collapse !important;
  padding: 8px !important;
}

.table-dotted th,
.table-dotted td {
  border: 2px dotted #c0c0c0 !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 50% !important;
  margin: 20px !important;
}

.mangata-table tr:first-child {
  visibility: collapse !important;
}

.new-crazy-row table:before {
  content: "WYPADKI WŚRÓD PRACOWNIKÓW";
  font-weight: bold;
  text-align: left;
  display: table-row;
  caption-side: top;
  background: white;
  border: solid 2px #c0c0c0;
  height: 1rem;
}

.new-21-crazy-row table:before {
  content: "PRACOWNICY";
  font-weight: bold;
  text-align: left;
  display: table-row;
  caption-side: top;
  background: white;
  border: solid 2px #c0c0c0;
  height: 1rem;
}
