/* ========================================
   ----- EDYTOR -----
======================================== */

/* ========================================
   GLOBALNE
======================================== */

:root {
  --blue-1: rgb(0, 83, 141);
  --blue-2: rgb(61, 144, 202);
  --blue-3: rgb(42, 168, 202);
}

/* ========================================
   GLOBALNE TEKSTY
======================================== */

.ble-editor h1 {
  font-family: Carlito, Arial, sans-serif;
  line-height: 1.4;

  margin-top: 18pt;
  margin-bottom: 12pt;
  color: var(--blue-1);
  font-size: 24pt;
  font-weight: bold;
}
.ble-editor h2 {
  font-family: Carlito, Arial, sans-serif;
  line-height: 1.4;

  margin-top: 12pt;
  margin-bottom: 6pt;
  color: var(--blue-2);
  font-size: 18pt;
  font-weight: bold;
}
.ble-editor h3 {
  font-family: Carlito, Arial, sans-serif;
  line-height: 1.4;

  margin-top: 12pt;
  margin-bottom: 6pt;
  color: var(--blue-3);
  font-size: 14pt;
  font-weight: bold;
}
.ble-editor h4 {
  font-family: Carlito, Arial, sans-serif;
  line-height: 1.4;

  margin-top: 10pt;
  margin-bottom: 4pt;
  color: var(--blue-3);
  font-size: 12pt;
  font-weight: bold;
}
.ble-editor h5 {
  font-family: Carlito, Arial, sans-serif;
  line-height: 1.4;

  margin-top: 8pt;
  margin-bottom: 4pt;
  color: var(--blue-3);
  font-size: 11pt;
  font-weight: bold;
}
.ble-editor h6 {
  font-family: Carlito, Arial, sans-serif;
  line-height: 1.4;

  margin-top: 8pt;
  margin-bottom: 4pt;
  color: var(--blue-3);
  font-size: 11pt;
  font-weight: bold;
}

.ble-editor p {
  font-family: Carlito, Arial, sans-serif;
  font-size: 11pt;
  line-height: 1.4;

  margin-top: 6pt;
  margin-bottom: 0pt;
}
.ble-editor p.e-p > * {
}

/* ========================================
   WŁASNE TEKSTY
======================================== */

/* ========================================
   GLOBALNE LISTY
======================================== */

.ble-editor li {
  margin-top: 2pt;
  margin-bottom: 2pt;
}
.ble-editor ul {
}
.ble-editor ol {
  margin-top: 2pt;
  margin-bottom: 2pt;
  padding-left: 1.5rem;
}

/* ========================================
   WŁASNE LISTY
======================================== */

/* ========================================
   STRONA TYTUŁOWA
======================================== */

/* ========================================
   SPIS TREŚCI
======================================== */

/* ========================================
   NAGŁÓWEK
======================================== */

/* ========================================
   STOPKA
======================================== */

/* ========================================
   GLOBALNE TABELE
======================================== */

/* ========================================
   TABELE WYRÓWNANIE TEKSTU
======================================== */

/* ========================================
   TABELE SZEROKOŚĆ KOLUMN
======================================== */

/* ========================================
   WŁASNE TABELE - z nagłówkiem
======================================== */

/* ========================================
   WŁASNE TABELE - bez nagłówka
======================================== */

/* ========================================
   WŁASNE TABELE - pojedyńcze reguły
======================================== */

/* ========================================
   OBRAZY
======================================== */
